%link{:crossorigin => "", :href => "https://unpkg.com/leaflet@1.9.3/dist/leaflet.css", :integrity => "sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=", :rel => "stylesheet"}/
= javascript_include_tag "map", "data-turbo-track": "reload", defer: true

%script
  var resources =
  = @q.to_json.html_safe
  ;
  console.log(resources);

= javascript_include_tag "markers", "data-turbo-track": "reload", defer: true

%section.container
  %div#mapwrapper
    %div#mapsidebar
      %h3 Filters
      %div
        - WaterResource.categories.each do |i|
          %a{href: "/map?cat=#{i[1]}", class: "filterlink btn btn-primary"}
            = i[0]
      %hr
      %h3 Found These Resources
      %ul
        - @q.each do |q|
          %li
            %a{href: "/map?name=#{q.title}"}
              = q.title
    %div#map
