!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Pumpspot
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
  %body#page-top
    / Navigation
    %nav#mainNav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
      .container.px-4
        %a.navbar-brand{:href => "/"} PumpSpot
        %button.navbar-toggler{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarResponsive", "data-bs-toggle" => "collapse", :type => "button"}
          %span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          %ul.navbar-nav.ms-auto
            %li.nav-item
              %a.nav-link
                - if signed_in?
                  = button_to 'Sign Out', sign_out_path, method: :delete
                - else
                  = button_to 'Sign In', sign_in_path
            = yield :navbar
    / Header
    %main
      #flash
        - flash.each do |key, value|
          %div{:class => "flash #{key}"}= value
      = yield
      / Footer
      %footer.py-5.bg-dark
        .container.px-4
          %p.m-0.text-center.text-white Copyright © Your Website 2022
