!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Pumpspot
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
    = favicon_link_tag asset_path('favicon.png')
  %body#page-top
    / Navigation
    %nav#mainNav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
      .container.px-4
        %a.navbar-brand{:href => "/"} PumpSpot
        %button.navbar-toggler{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarResponsive", "data-bs-toggle" => "collapse", :type => "button"}
          %span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          %ul.navbar-nav.ms-auto
            %li.nav-item
              - if signed_in?
                = link_to 'Sign Out', sign_out_path, class: "nav-link", data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}
              - else
                = link_to 'Sign In', sign_in_path, class: "nav-link"
            - if signed_in?
              %li.nav-item
                = link_to 'My Account', '/my_account', class: 'nav-link'
              %li.nav-item
                = link_to 'Submit', '/submit', class: 'nav-link'
            = yield :navbar
    / Header
    %main
      = yield :alert
      #flash
        - flash.each do |key, value|
          %div{:class => "flash #{key}"}= value
      %div.container
        = yield
      / Footer
    %footer.py-5.bg-dark
      .container.px-4
        %p.m-0.text-center.text-white Copyright © PumpSpot 2022
        %p.m-0.text-center.text-white
          %a{:href => "/developers/open-source"} This site is powered by Open Source

/ Google tag (gtag.js)
%script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=G-XZQG0E4VR6"}
:javascript
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XZQG0E4VR6');
